<div id="main" >
    <div class="row">
        <div class="selectMain col-lg-6 col-md-6 col-sm-6">
            <h3>Выберите продукт из списка:</h3>
            <input class='selectInput' ng-model="searchProduct" type="text" placeholder="Поиск по названию продукта">
            <button type="button" class="close clearSearchProduct" aria-label="Close" ng-click="searchProduct = ''"><span aria-hidden="true">&times;</span></button>
            <table class="table tableHeader">
                <thead>
                    <tr>
                        <th width="190">Продукт</th>
                        <th width="90">Белки</th>
                        <th width="80">Жиры</th>
                        <th width="96">Углеводы</th>
                        <th>Ккал</th>
                    </tr>
                </thead>
            </table>
            <div class="tableWrapper">
                <table class="table table-hover">
                    <tbody>
                        <tr ng-repeat="item in productsList | orderBy: 'product' | filter:searchProduct" ng-click="add(item.id)">
                            <td>{{item.product}} (100{{item.unit}})</td>
                            <td>{{item.proteins}}</td>
                            <td>{{item.fats}}</td>
                            <td>{{item.carbohydrates}}</td>
                            <td>{{item.calories}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="addForm" ng-show="flagAdd">
                <button type="button" ng-click="flagAdd = false" class="close btnCloseNewProductForm" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>Добавить продукт <b>"{{selectedProduct.product}}"</b>?</p>
                <p>Введите количество продукта и выберите единицу измерения:</p>
                <input  class="addFormInput" type="number" ng-model="valueOfProduct">
                <label><input type="radio" ng-model="measure.name" value="гр" /> гр</label>&nbsp;
                <label><input type="radio" ng-model="measure.name" value="мл" /> мл</label><br>
                <div class="alert alert-danger" role="alert" ng-show="(measure.name !== selectedProduct.unit) && measure">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Введите продукт в единице измерения из таблицы!
                </div>
                <div class="alert alert-danger" role="alert" ng-show="(measure.name === undefined || valueOfProduct === undefined || valueOfProduct === null)">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Все поля должны быть заполнены!
                </div>
                <div class="alert alert-danger" role="alert" ng-show="valueOfProduct < 0">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Значение не может быть отрицательным!
                </div>
                <button type="button" class="btn btn-info btnAddToList" ng-class="{'btnAddToListDanger':(measure.name !== selectedProduct.unit) && measure}" ng-click="addToList(measure.name)">Добавить</button>
                <button type="button" ng-hide="flagNewProductForm" class="btn btn-info btnAddNewProduct" ng-class="{'btnAdd': flagAdd}" ng-click="addNewProductForm()">Создать новый продукт</button>
            </div>
            <div class="newProductForm" ng-show="flagNewProductForm">
                <button type="button" ng-click="addNewProductForm()" class="close btnCloseNewProductForm" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Новый продукт:</h4>
                Введите название продукта: <input type="text" ng-model="nameOfProduct" class="productName" ><br>
                <b>Содержание в 100гр/мл:</b><br>
                Белков: <input type="number" step="0.1" ng-model="numberOfProteins" class="newProductParam">
                Жиров: <input type="number" step="0.1" ng-model="numberOfFats" class="newProductParam"><br>
                Углеводов: <input type="number" step="0.1" ng-model="numberOfCarbohydrates" class="newProductParam">
                Калорий: <input type="number" step="0.1" ng-model="numberOfCalories" class="newProductParam"><br>
                <div class="unitDiv">Единица измерения:<br>
                    <label><input type="radio" ng-model="typeOfUnit" value="гр" /> гр</label>&nbsp;
                    <label><input type="radio" ng-model="typeOfUnit" value="мл" /> мл</label>
                </div>
                <div class="alert alert-danger" role="alert" ng-show="(numberOfCarbohydrates === undefined || nameOfProduct === undefined || typeOfUnit  === undefined || numberOfProteins === undefined || numberOfFats === undefined || numberOfCarbohydrates === null || nameOfProduct === '' || typeOfUnit  === null || numberOfProteins === null || numberOfFats === null || numberOfCalories === null || numberOfCalories === undefined)">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Заполните все поля!
                </div>
                <div class="alert alert-danger" role="alert" ng-show="(numberOfCarbohydrates < 0 || numberOfProteins < 0 || numberOfFats < 0 || numberOfCalories < 0 )">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Значиения не могут быть отрицательными!
                </div>
                <button type="button" class="btn btn-info btnSaveNewProductForm" ng-click="addNewProduct()">Сохранить</button>&nbsp;
                <span class="message" ng-show="nameOfProduct === '' ">&nbsp; {{message}}</span>
            </div>
            <button type="button" ng-hide="flagNewProductForm" class="btn btn-info btnAddNewProduct" ng-class="{'btnAddNewProductHide': flagAdd}" ng-click="addNewProductForm()">Создать новый продукт</button>
            <div  class="nextNewInfo" ng-show="flagResult && !flagNewProductForm">
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Для подсчета калорий снова нажмите "Следующий прием пищи"
                </div>
            </div>
        </div>
        <div class="showSelectedMain col-lg-6 col-md-6 col-sm-6">
            <div class="userListWrapper">
                <div ng-repeat="i in userList" class="userListItem">
                    <span>{{i.product}}</span>&nbsp;
                    <span class="label label-default">{{i.value}} {{i.unit}}</span>
                </div>
            </div>
            <div class="underUserList">
                <div class="alert alert-success infoClass" role="alert" ng-show="(userList === undefined || userList.length == 0) && !flagResult">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Выберите продукт из списка или создайте новый продукт, добавьте его в таблицу и нажмите "Рассчитать" для подсчета питательных веществ и калорий
                </div>
                <button type="button" class="btn btn-info btnCalculate" ng-hide="flagResult" ng-click="calculateCalories()">Рассчитать&nbsp;<span class="glyphicon glyphicon-edit glyBtn" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-info btnNext" ng-show="flagResult" ng-click="next()">Следующий прием пищи</button>
                <div class="btnStat"><a href="#/statistics">Статистика за день&nbsp;<span class="glyphicon glyphicon-stats glyBtn" aria-hidden="true"></span></a></div>
            </div>
            <div class="resultForm" ng-show="flagResult">
                <h4>Общее количество:</h4>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Белки:</td>
                        <td>{{result.proteinsTotalAmount}} г</td>
                    </tr>
                    <tr>
                        <td>Жиры:</td>
                        <td>{{result.fatsTotalAmount}} г</td>
                    </tr>
                    <tr>
                        <td>Углеводоы:</td>
                        <td>{{result.carbohydratesTotalAmount}} г</td>
                    </tr>
                    <tr>
                        <td>Калории:</td>
                        <td>{{result.caloriesTotalAmount}} ккал</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!--row-->
</div>
